/* This file is for your main application css. */

@import "./phoenix.css";

.game_img {
    position: absolute;
    -webkit-user-drag: none;
}

.menu-btn {
    border-radius: 2px;
    padding: 2px;
    text-align: center;
    margin: 5px;
    color: white;
}

.grid-container {
    display: grid;

    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
  }