
<%= if is_binary(@hit_drum)  do %>
<img src="/images/drummer_1.png" class="game_img" />
<div id="<%= @hit_drum %>">
<script>
window.playDrum && window.playDrum({chord: "<%= @hit_drum %>", stroke: 'down'});
</script>
</div>
<% end %>
<%= if !is_nil(@drummer) && is_nil(@hit_drum) do  %>
<img src="/images/drummer_2.png" class="game_img" />
<% end %>


<%= if @drummer == @name do %>
    <div phx-keydown="drum-keydown" phx-target="window"> </div>
<% end %>